.App-header {
  min-height: 100vh;
  display: grid;
}

.acceuil {
  color: #013d96;
  background-color: rgba(255, 255, 255, 0.95);
  display:inline-block;
  flex-direction: column;
  border-radius: 10px;
  width: 80%;
  height: 50%;
  padding: 1%;
  margin-left: 10%;
  margin-top: 40px;
  z-index: 0;
}

.acceuil p {
  color: black;
}

.acceuil2 {
  display: flex;
}

.acceuil3 {
  width: 60%;
}

.p1 {
  margin: 0.5% 0 0 2%;
}

.p2 {
  margin-left: 3%;
}



body {
  background-image: url('./static/bg_2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}



/* ---------- Card CSS ----------------- */

.card {
  border-radius: 15px;
  padding: 25px 12px;
  background-color: #b2b1b8;
  margin: 10px 0 0 0;
  box-shadow: 0 2px 5px rgb(0, 0, 0);
  max-width: 450px;
  height: 180px;
}

.top {
  border-radius: 20px;
  height: 70px;
  width: 100%;
  background-color: rgba(242, 242, 242);
  top: 0;
  left: 0;
  display: flex;
}

.bottom {
 width: 55%;
}

.bottom p {
  font-family: "Arvo", cursive;
  font-weight: 600;
}

.name {
  font-size: 1, 5em;
  color: #013d96;
  flex: 10;
}

.card img {
  margin: 30px 10px 0 0;
}

.circle-img2 {
  border-radius: 30%;
  border: 7px solid #013d96;
  width: 150px;
  height: 150px;
}

.circle-imgPM {
  border-radius: 30%;
  border: 7px solid #013d96;
  width: 100px;
  height: 100px;
  cursor: pointer;

}

/* ---------- Card CSS ----------------- */

.circle-img {
  border-radius: 30%;
  border: 7px solid #013d96;
  margin: 2% 3% 0 1%;
  width: 250px;
  height: 250px;
}


.container {
  margin: 1%;
  padding: 30px 0;
  text-align: center;
}

.container h1 {
  font-size: 40px;
  font-weight: 200;
}

.ax {
  border: 3px solid rgba(12, 104, 215, 0.9);
  border-radius: 5px;
  margin: 1%;
  width: 100%;
  visibility:collapse;
}

.ax.visible {
  visibility: visible;
}

.debrief {
  border: 3px solid rgba(12, 104, 215, 0.9);
  border-radius: 5px;
  margin: 1%;
  width: 100%;
  visibility:collapse;
}

.debrief.visible {
  visibility: visible;
}

.debriefh4 {
  color: #23058f;
  background-color: #53b783;
}

.assist {
  border: 3px solid rgba(12, 104, 215, 0.9);
  border-radius: 5px;
  margin: 1%;
  width: 100%;
  display: none;
}

.assist.visible {
  display: block;
}

.divX {
  border: 3px solid rgba(191, 189, 37, 0.4);
  border-radius: 5px;
  width: 30%;
  align-items: center;
  justify-content: center;
}

.divX button {
  display: inline-block;
  background-color: rgba(191, 189, 37, 0.4);
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  cursor: pointer;
  margin: 15px;
}

.divX button:hover {
  background-color: rgb(60, 16, 56);
}

.info {
  background-color: rgba(5, 148, 55, 0.9);
  border: 3px solid rgba(191, 189, 37, 0.4);
  border-radius: 5px;
  padding: 2% 5% 2% 5%;
  margin: 2% 0 0 25%;
  width: 40%;
}

.info h3 {
  margin-left: 3%;
}

.projet {
  background-color: rgba(5, 148, 55, 0.9);
  border: 3px solid rgba(191, 189, 37, 0.4);
  border-radius: 5px;
  display:flex;
  padding: 2% 5% 2% 5%;
  margin: 2% 0 0 10%;
  width: 60%;
}

.projetA {
  width: 75%;
}

.projetA h2:hover {
  color: rgb(16, 6, 202);
}


.projetB {
  width: 25%;
  margin: 5% 0 0 2%;
}
.projetB h4 {
  margin: 3%;
}

.projectCal {
  border: 3px solid rgba(191, 189, 37, 0.4);
  border-radius: 5px;

  width: 40%;
 
}

.semaine {
  background-color: rgba(5, 148, 55, 0.9);
  border: 3px solid rgba(191, 189, 37, 0.4);
  border-radius: 5px;
  display:flex;
  padding: 2% 5% 2% 5%;
  margin: 2% 0 0 10%;
  width: 60%;
}

.semaineA {
  width: 75%;
}
.semaineB {
  width: 25%;
}

/* ProgressBar.css */
.progress-bar {
  height: 20px;
  width: 50%;
  background-color: #e0e0e0;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.progress-bar-filled {
  height: 100%;
  width: 0;
  background-color: #1976d2;
  border-radius: 10px;
  transition: width 0.25s ease-in-out;
}

form input {
  border: 1px solid rgba(242, 178, 178, 0.4);
  background-color: rgba(193, 250, 195, 0.4);
  width: 250px;
  border-radius: 3px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
}

form button {
  appearance: none;
  outline: 0;
  background-color: rgb(255, 167, 95);
  border: 0;
  padding: 10px 15px;
  color: #075958;
  border-radius: 3px;
  width: 250px;
  font-size: 18px;
}

.enedis {
  border-radius: 10px;
  box-shadow: 0 0 50px rgb(232, 237, 232);
  margin-top: 100px;
  padding: 20px;
  text-align: center;
}

footer {
  text-align: center;
  margin-top: 15px;
}

.menu {
  background-color: rgba(255, 255, 255, 0.95);
  display: flex;
  position: static;
  justify-content: center;
  text-align: center;
  padding: 1.1% 0 1.1% 0;
  z-index: 1;
}


@media (max-width: 1400px) {
  .logo {
    display: none;
  }
}

.navElement {
  margin-left: 3%;
}

nav a {
  color: rgb(36, 36, 36);
  display: block;
  font-family: "Arvo", cursive;
  font-weight: 650;
  font-size: 1.3em;
  text-decoration: none;
  margin: 0 20px 0 20px;
}


nav a:hover {
  color: #a8681a;
}

nav a:before {
  content: "";
  position: inherit;
  bottom: 94%;
  transform: translateX(-50%);
  left: 28%;
  width: 0;
  height: 0;
  border-bottom: 2px solid #c0935c;
  transition: all 0.6s;
  opacity: 0;
}

nav a:hover:before {
  width: 8%;
  opacity: 1;
}

.navButton {
  position: fixed;
  margin-top: 5px;
  margin-left: 5px;
  background-color: rgba(255, 255, 255, 0.95);
  border: 0;
  padding: 1px;
  border-radius: 3px;
}

@media (max-width: 1200px) {
  .menu {
    display: none;
  }
  .projet {
    display: block;
  }
  .projetA {
    width: 100%;
  }
  .projetB {
    width: 100%;
  }
}

.nav2 {
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 3%;
  position: fixed;
  margin-top: 65px;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-20%);
  transition: visibility 4s linear 0.5s, opacity 0.5s linear, transform 0.5s;
}

.nav2.hidden {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-20%);
  transition: visibility 4s linear 0.5s, opacity 0.5s linear, transform 0.5s;
}

.nav2.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(3%);
  transition: visibility 2s linear, opacity 0.5s linear, transform 0.5s;
}

h1 {
  font-family: "Arvo", cursive;
  font-weight: 500;
}

h2 {
  color: #fff;
  font-family: "Arvo", cursive;
  font-weight: 200;
}

h3 {
  color: #fff;
  font-family: "Arvo", cursive;
  font-weight: 200;
}

.logo {
  width: 7%;
  position: absolute;
  margin-left: 3px;
  margin-top: 3px;
}

.main {
  display: flex;
  flex-wrap: wrap;
}

.tooltip {
  position: fixed;
  margin-top: 20px;
  width: 700px;
  height: 300px;
  z-index: 2;
}

